<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Steroid Taper</h1>
  <form action="" method="post" name="taper">
      {{ form.hidden_tag() }}
      <div>
		  <p>
	          P1: Date:<br>
	          {{ form.date_1 }}<br>
	      </p>
	      <p>
	          P1: Dose:<br>
	          {{ form.dose_1 }}<br>
	      </p>
	      <p>
	          P1: Days:<br>
	          {{ form.time_1 }}<br>
	      </p>
	  </div>
	  <hr>
      <div>
		  <p>
	          P2: Date:<br>
	          {{ form.date_2 }}<br>
	      </p>
	      <p>
	          P2: Dose:<br>
	          {{ form.dose_2 }}<br>
	      </p>
	      <p>
	          P2: Days:<br>
	          {{ form.time_2 }}<br>
	      </p>
	  </div>
      <p><input type="submit" value="Calculate Taper"></p>
  </form>
{% endblock %}